body {
  margin: 0;
  color:rgb(80, 80, 80)
}

.container {
  margin: auto;
  width: 90%;
}

.cP {
  cursor: pointer;
}

.carousel .thumb {
  width: 80px;
  height: 60px;
  object-fit: unset;
}

.sectionTitle {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.pd {
  font-family: 'Quicksand', sans-serif !important;
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(97, 97, 97);
}

.pd__button-narrow {

  margin-right: 10px;
  margin-bottom: 10px;
  width: 50px;
}

.pd__button-wide {

  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.pd__style-icon {
  border-radius: 50%;
  filter: saturate(15%);
  margin-right: 10px;
  margin-bottom: 10px;
}



.pd__styleText {
  margin-bottom: 10px;
}

.pd__box {
  box-sizing: content-box;
  width: 100%;
}

.pd__wide {
  box-sizing: border-box;
  width: 65%;
  padding-right: 20px;
  float:left
}

.pd__normal {
  box-sizing: border-box;
  width: 50%;
  padding-right: 20px;
  float:left
}

.pd__narrow {
  box-sizing: border-box;
  width: 35%;
  padding-left: 20px;
  float:left
}

.related-products {
  box-sizing: content-box;
  width: 100%;
  float:left
}

.reviews {
  display: flex;
  width: 100%;
}

.reviews-left {
  width: 30%;
  height: 500px;
  margin-right: 5%;
}

.reviews-right {
  width: 65%;
}

.reviewRating {
  font-size: 60px;
  font-weight: bold;
  margin-top: -15px;
  padding-right: 10px;
}

.ratingAmount {
  display: flex;
  justify-content: start;
}

.reviewColumn {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 5px;
  /* -ms-overflow-style: none;
  scrollbar-width: 1em; */
}

.reviewColumn::-webkit-scrollbar {
  width: 2px;
}

.reviewColumn::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.reviewColumn::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
  /* outline: 1px solid slategrey; */
}

.reviewTop {
  display: flex;
  align-items: center;
}

.reviewAuthor {
  margin-left: auto;
  color: rgb(150, 150, 150);
  font-size: 11px;
  font-weight: 400;
  align-items: flex-end;
}

.reviewTitle {
  font-weight: bold;
  padding-top: 10px;
}

.reviewBody {
  font-weight: 400;
  font-size: 14px;
  color:rgb(100, 100, 100);
  padding-top: 10px;
}

.reviewBodyShowMore {
  padding-top: 5px;
  font-size: 11px;
  text-decoration-line: underline;
}

.reviewRecommended {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color:rgb(100, 100, 100);
  padding-top: 10px;
}

.reviewDivider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-block: 15px;
}

.reviewButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.card-products-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-product-image {
  margin: 1em 0;
  text-align: center;
  position: relative;
}

.card-product-image img {
  width: 15vw;
  height: 15vw;
}

.card-product-image-cover img {
  object-fit: cover;
}

.card-product-image-contain img {
  object-fit: contain;
}

/* .btn-square.btn-xl { */
  /* width: 15vw;
  height: 15vw; */
  /* padding: 10px 16px; */
  /* border-radius: 35px; */
  /* font-size: 50px;
  text-align: center; */
  /* color:lightgrey; */
/* } */

.card-product-image .remove-card-entry {
  position: absolute;
  top: 0;
  right: 0;
  border:black;
  font: black;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius:5px;
  border: solid 2px black;
  border-radius: 50%;
  overflow: hidden;
}