.pd {
  margin: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: rgb(97, 97, 97);
}

.pd__style-icon {
  border-radius: 50%;
    width: 25px;
    height: 25px;
    filter: saturate(10%);
    border: none;
}

.pd__description {
  border-right: thin solid  rgb(97, 97, 97);
}